In [ ]:
import pandas as pd

In [ ]:
april = pd.read_csv('/content/drive/MyDrive/The American Dream Academy/Case Study 1/Data/Q2_Apr.csv')
may = pd.read_csv('/content/drive/MyDrive/The American Dream Academy/Case Study 1/Data/Q2_May.csv')
june = pd.read_csv('/content/drive/MyDrive/The American Dream Academy/Case Study 1/Data/Q2_Jun.csv')

In [ ]:
april.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,8FE8F7D9C10E88C7,electric_bike,2023-04-02 08:37:28,2023-04-02 08:41:37,NaN,NaN,NaN,NaN,41.80,-87.60,41.79,-87.60,member
1,34E4ED3ADF1D821B,electric_bike,2023-04-19 11:29:02,2023-04-19 11:52:12,NaN,NaN,NaN,NaN,41.87,-87.65,41.93,-87.68,member
2,5296BF07A2F77CB5,electric_bike,2023-04-19 08:41:22,2023-04-19 08:43:22,NaN,NaN,NaN,NaN,41.93,-87.66,41.93,-87.66,member
3,40759916B76D5D52,electric_bike,2023-04-19 13:31:30,2023-04-19 13:35:09,NaN,NaN,NaN,NaN,41.92,-87.65,41.91,-87.65,member
4,77A96F460101AC63,electric_bike,2023-04-19 12:05:36,2023-04-19 12:10:26,NaN,NaN,NaN,NaN,41.91,-87.65,41.91,-87.63,member

In [ ]:
april.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426590 entries, 0 to 426589
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             426590 non-null  object
 1   rideable_type       426590 non-null  object
 2   started_at          426590 non-null  object
 3   ended_at            426590 non-null  object
 4   start_station_name  362776 non-null  object
 5   start_station_id    362776 non-null  object
 6   end_station_name    357960 non-null  object
 7   end_station_id      357960 non-null  object
 8   start_lat           426590 non-null  float64
 9   start_lng           426590 non-null  float64
 10  end_lat             426155 non-null  float64
 11  end_lng             426155 non-null  float64
 12  member_casual       426590 non-null  object
dtypes: float64(4), object(9)
memory usage: 42.3+ MB

In [ ]:
may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604827 entries, 0 to 604826
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             604827 non-null  object
 1   rideable_type       604827 non-null  object
 2   started_at          604827 non-null  object
 3   ended_at            604827 non-null  object
 4   start_station_name  515587 non-null  object
 5   start_station_id    515587 non-null  object
 6   end_station_name    509560 non-null  object
 7   end_station_id      509560 non-null  object
 8   start_lat           604827 non-null  float64
 9   start_lng           604827 non-null  float64
 10  end_lat             604117 non-null  float64
 11  end_lng             604117 non-null  float64
 12  member_casual       604827 non-null  object
dtypes: float64(4), object(9)
memory usage: 60.0+ MB

In [ ]:
june.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 719618 entries, 0 to 719617
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             719618 non-null  object
 1   rideable_type       719618 non-null  object
 2   started_at          719618 non-null  object
 3   ended_at            719618 non-null  object
 4   start_station_name  603359 non-null  object
 5   start_station_id    603359 non-null  object
 6   end_station_name    595568 non-null  object
 7   end_station_id      595568 non-null  object
 8   start_lat           719618 non-null  float64
 9   start_lng           719618 non-null  float64
 10  end_lat             718729 non-null  float64
 11  end_lng             718729 non-null  float64
 12  member_casual       719618 non-null  object
dtypes: float64(4), object(9)
memory usage: 71.4+ MB

In [ ]:
q2 = pd.concat([april,may,june],  ignore_index=True)
#q2.tail(1000)

In [ ]:

q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751035 entries, 0 to 1751034
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 173.7+ MB

In [ ]:
q2[pd.isnull(q2).any(axis=1)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,8FE8F7D9C10E88C7,electric_bike,2023-04-02 08:37:28,2023-04-02 08:41:37,NaN,NaN,NaN,NaN,41.800000,-87.600000,41.79,-87.60,member
1,34E4ED3ADF1D821B,electric_bike,2023-04-19 11:29:02,2023-04-19 11:52:12,NaN,NaN,NaN,NaN,41.870000,-87.650000,41.93,-87.68,member
2,5296BF07A2F77CB5,electric_bike,2023-04-19 08:41:22,2023-04-19 08:43:22,NaN,NaN,NaN,NaN,41.930000,-87.660000,41.93,-87.66,member
3,40759916B76D5D52,electric_bike,2023-04-19 13:31:30,2023-04-19 13:35:09,NaN,NaN,NaN,NaN,41.920000,-87.650000,41.91,-87.65,member
4,77A96F460101AC63,electric_bike,2023-04-19 12:05:36,2023-04-19 12:10:26,NaN,NaN,NaN,NaN,41.910000,-87.650000,41.91,-87.63,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1751029,CDA9ABCD7DA3AE4C,electric_bike,2023-06-23 06:36:30,2023-06-23 07:01:59,Clark St & Lincoln Ave,13179,NaN,NaN,41.915710,-87.634590,41.96,-87.63,casual
1751031,9A1685F9A39646CA,electric_bike,2023-06-29 19:56:44,2023-06-29 20:09:15,Fairbanks Ct & Grand Ave,TA1305000003,NaN,NaN,41.891970,-87.620198,41.89,-87.61,casual
1751032,CD4CC5A60881C7AF,electric_bike,2023-06-25 00:27:20,2023-06-25 00:39:09,Clark St & Lincoln Ave,13179,NaN,NaN,41.915745,-87.634604,41.92,-87.65,casual
1751033,FF6594685CFE2056,electric_bike,2023-06-24 21:26:57,2023-06-24 21:28:44,Fairbanks Ct & Grand Ave,TA1305000003,NaN,NaN,41.891725,-87.620607,41.89,-87.62,casual
1751034,66EF9F3C318208B9,classic_bike,2023-06-24 21:30:30,2023-06-25 22:30:07,Fairbanks Ct & Grand Ave,TA1305000003,NaN,NaN,41.891847,-87.620580,NaN,NaN,casual

- 428853/1751035 rows of missing data

In [ ]:
print(f'428853/1751035 is about {((428853/1751035) * 100):.2f}%')

428853/1751035 is about 24.49%

In [ ]:
#outputting the new dataset
q2.to_csv('/content/drive/MyDrive/The American Dream Academy/Case Study 1/Data/Q2_data.csv')